# Другое

DinamycServer/obj/
DinamycServer/LOG.txt
DinamycServer/.idea/
DinamycServer/.vscode/
ClientUnity/.vscode/
AdminGQuest/AdminGQuest/bin/
AdminGQuest/AdminGQuest/obj/
AdminGQuest/packages/
AdminGQuest/.vs/

# Unity